html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    

}


nav ul{
    display: flex;
    list-style-type: none;
    padding: 10px,0px;
    

}
li{
    margin: 10px;
}

