html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section#home{
    font-family: "Audiowide", sans-serif;
}
section#bio{
    font-family: "Trirong", serif;
}
section#contact{
    font-family: "Sofia", sans-serif;
}
section#portfolio{
    font-family:"Inconsolata", serif;
}